/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;

}

p {
    font-size: 1rem;
    line-height: 1.8rem;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}

.lead {
    font-size: 1.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
}

/*HEADER*/

#navbar {
    display: flex;
    justify-content: space-between;
    height: 5.4rem;
}

header #logo {
    padding: 20px 0px 50px 0px;
    width: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;

}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 10px 0px 50px 0px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
    border-color: var(--main-color);
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color: var(--main-color);
}

.search-bar {
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
}

.search-box {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 15px 0px 35px 0px;

}

#map-icon {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 23px 20px 20px 20px;
    height: 52px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.search-box input {
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: 1px solid var(--main-bg-color);
    padding: 10px;
}

.search-box button {
    background-color: var(--main-color);
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.search-box button .fa-solid {
    display: none;
}


.filter-bar {
    display: inline-flex;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.filter-header {
    font-size: 1.2rem;
    padding: 0px 15px 0px 0px;
    font-weight: bold;
}

.filter-box {
    border-radius: 30px;
    border: 2px solid #d8d7d7;
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    margin: 0px 15px 0px 0px;
}

.filter-box i {
    padding: 0px 10px 0px 2px;
}

.filter-bar :hover {
    transition: background-color 1s;
    background-color: #cadffc;
}

/*FIN HEADER*/

/*MAIN*/
/*INFO-BAR*/
.info-bar {
    box-sizing: border-box;
    padding-bottom: 20px;
}

.info-bar i {
    box-sizing: border-box;
    font-size: 0.7rem;
    color: var(--main-color);
    margin-right: 10px;
    padding: 5px 8px 5px 8px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 1px solid #d8d7d7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/*END INFO-BAR*/

/*SECTION & CARDS*/
/*CARDS SETUP*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*END OF CARDS SETUP*/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.section-title {
    margin: 0;
    font-size: 1.4rem;
}

/* Hebergements */
.hebergements {
    width: 65%;
}

.hebergements-cards .card {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
    margin-right: 25px;
}

.hebergements-cards img {
width: 97%;
height: 120px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    /*Nécéssaire pour mise en page de la ligne incluant une icone font-awesome*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1.7rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 1rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}