/****** General ***********/
:root {
    /*Colors palette*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #dadada;
    --filter-border-color: #c4c0c0;
    --white: #ffffff;
    --black: #000000;
    --pale-blue: #cadffc;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--main-color);
}

body {
    padding: 0px;
    margin: 0px;
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    margin-left: 40px;
    margin-right: 40px;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}

.lead {
    font-size: 1.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/*HEADER*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5.4rem;
}

#logo {
    padding: 20px 0px 50px 0px;
    width: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;

}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu li {
    padding: 10px 0px 50px 0px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

.menu li:hover {
    border-color: var(--main-color);
}

.menu li a {
    color: var(--black);
    text-decoration: none;
}

.menu li:hover a {
    color: var(--main-color);
}

.search-bar {
    padding: 20px 0px 0px 0px;
}

/*Search box*/
.search-box {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 15px 0px 35px 0px;

}

#map-icon {
    font-size: 1.2rem;
    color: var(--black);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 23px 20px 20px 20px;
    height: 52px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.search-box input {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: 2px solid var(--main-bg-color);
    border-right: 0px;
    padding: 10px;
    cursor: pointer;
}

.search-box input:focus {
    border: 2px solid var(--main-color);
    border-right: 0px;
}

.search-box button {
    background-color: var(--main-color);
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--white);
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.search-box button .fa-solid {
    display: none;
}


.filter-bar {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.filter-header {
    font-size: 1.2rem;
    padding: 0px 15px 0px 0px;
    font-weight: bold;
}

.filter-box {
    border-radius: 30px;
    border: 2px solid var(--filter-bg-color);
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    margin: 5px 15px 5px 0px;
}

.filter-box i {
    padding: 0px 10px 0px 2px;
}

.filter-bar :hover {
    transition: background-color 1s;
    background-color: var(--pale-blue);
}

/*FIN HEADER*/

/*MAIN*/
/*INFO-BAR*/
.info-bar {
    padding-bottom: 20px;
}

.info-bar i {
    font-size: 0.7rem;
    color: var(--main-color);
    margin-right: 10px;
    padding: 5px 8px 5px 8px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 1px solid var(--filter-bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*END INFO-BAR*/

/*SECTION & CARDS*/
/*GENERAL CARDS SETUP*/
.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px var(--filter-bg-color));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*END OF GENERAL CARDS SETUP*/
/****** Hebergements And Populaires ***********/
.accomodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.section-title {
    margin: 0;
    font-size: 1.4rem;
}

/* Hebergements */
.accomodation {
    width: 65%;
}

.accomodation-cards {
    margin-top: 0px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.accomodation-cards>a {
    width: 30%;
}

.accomodation-cards .card {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.accomodation-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodation-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.accomodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accomodation-cards .card-subtitle {
    margin: 0;
}

.accomodation-cards .card-rating {
    margin-bottom: 5px;
}

.accomodation .subtitle {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Populaires */
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/*ACTIVITES*/
.activities {
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.activities .section-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.activities-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.activities-cards-container a {
    flex: 1 1 22%;
    max-width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px var(--filter-bg-color);
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 2%;
}

.activities-card {
    border-radius: 25px;
}

.activities-card article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}


.activities-card article img {
    width: 316px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}


.activities-card article h3 {
    margin: 0px;
    padding: 20px;
    font-size: 1rem;
    flex-grow: 1;
    /* Assure que le h3 prend tout l'espace vertical disponible */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centre le texte à l'intérieur du h3 */
}

/*FOOTER*/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    padding: 25px;
}

footer .footer-column {
    width: 30%;
    flex-grow: 1;
    padding-left: 1%;
}

footer .footer-column ul {
    list-style-type: none;
    padding: 0px;
}

footer .footer-column ul li a {
    color: var(--black);
    text-decoration: none;
    line-height: 35px;
}


/* RESPONSIVE */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*1024 ACCOMODATION & POPULAR*/
    /*1024 ACCOMODATION*/
    .accomodation-and-popular {
        flex-direction: column;
    }

    .accomodation {
        width: 100%;
    }

    /*1024 POPULAR*/
    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 1rem;
    }

    .popular-cards .card-subtitle {
        font-size: 1rem;
    }

    /*1024 ACTIVITIES*/

    .activities-card article img {
        width: 316px;
        height: 220px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .main-container {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-header {}

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
        width: 100%;
        text-align: center;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding-top: 35px;
    }

    #logo {
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 20px 0px;
        margin: 0px;
    }

    .header-menu {
        width: 100%;
        display: flex;
        padding: 0px;
    }

    .header-menu nav {
        width: 100%;
        display: flex;
        align-items: flex-end;
    }

    .menu {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 5.5rem;
        padding: 0px;
        margin: 0px;
    }

    .menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 4px solid var(--main-bg-color);
        border-top: 0px;
    }

    .menu li :hover {
        border-color: var(--main-color);
    }

    /*
    .menu li :nth-child(1) {
        padding-left: 50px;
    }
    .menu li :nth-child(2) {
        margin-right: 50px;
    }
    */

    .menu li a {
        text-align: center;
        padding: 0px;
        margin: 0px;
        font-size: 1.6rem;
        padding-bottom: 20px;
    }

    /*
    .menu li:hover {
        border-color: var(--main-color);
    }
    */

    .search-bar {
        padding: 10px 0px 0px 0px;
    }

}