/****** General ***********/
:root {
    /*Colors palette*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #dadada;
    --filter-border-color: #c4c0c0;
    --white: #ffffff;
    --black: #000000;
    --pale-blue: #cadffc;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--main-color);
}

body {
    padding: 0px;
    margin: 0px;
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    margin-left: 40px;
    margin-right: 40px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}

.lead {
    font-size: 1.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/*HEADER*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5.4rem;
}

#logo {
    padding: 20px 0px 50px 0px;
    width: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;

}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu li {
    padding: 10px 0px 50px 0px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

.menu li:hover {
    border-color: var(--main-color);
}

.menu li a {
    color: var(--black);
    text-decoration: none;
}

.menu li:hover a {
    color: var(--main-color);
}

.search-bar {
    padding: 20px 0px 0px 0px;
}

/*Search box*/
.search-box {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 15px 0px 35px 0px;

}

#map-icon {
    font-size: 1.2rem;
    color: var(--black);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 23px 20px 20px 20px;
    height: 52px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.search-box input {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: 2px solid var(--main-bg-color);
    border-right: 0px;
    padding: 10px;
    cursor: pointer;
}

.search-box input:focus {
    border: 2px solid var(--main-color);
    border-right: 0px;
}

.search-box button {
    background-color: var(--main-color);
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--white);
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.search-box button .fa-solid {
    display: none;
}


.filter-bar {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.filter-header {
    font-size: 1.2rem;
    padding: 0px 15px 0px 0px;
    font-weight: bold;
}

.filter-box {
    border-radius: 30px;
    flex: none;
    border: 2px solid var(--filter-bg-color);
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px 10px 5px;
    margin: 5px 15px 5px 0px;
}

.filter-box i {
    padding: 0px 10px 0px 10px;
}

.filter-box-container :hover {
    transition: background-color 1s;
    background-color: var(--pale-blue);
}

.filter-text {
    margin-left: 5px;
    padding-right: 5px;
    display: flex;
    text-wrap: nowrap;
}


/*FIN HEADER*/

/*MAIN*/
/*INFO-BAR*/
.info-bar-container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.info-bar {
    padding-right: 0px;
    padding-left: 10px;
}

.info-bar-icon {
    font-size: 0.7rem;
    color: var(--main-color);
    margin-right: 0px;
    padding: 5px 8px 5px 8px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--filter-bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*END INFO-BAR*/

/*SECTION & CARDS*/
/*GENERAL CARDS SETUP*/
.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px var(--filter-bg-color));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*END OF GENERAL CARDS SETUP*/
/****** Hebergements & Populaires ***********/
.accomodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodation-and-popular section {
    border-radius: 20px;
    padding: 30px;
}

.section-title {
    margin: 0;
    font-size: 1.4rem;
}

/* Hebergements */
.accomodation {
    background-color: var(--main-bg-color);
    width: 65%;
}

.accomodation-cards {
    margin-top: 0px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.accomodation-cards>a {
    width: 30%;
}

.accomodation-cards .card {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.accomodation-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodation-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.accomodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accomodation-cards .card-subtitle {
    margin: 0;
}

.accomodation-cards .card-rating {
    margin-bottom: 5px;
}

.accomodation .subtitle {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Populaires */
.popular {
    width: 32%;
    background-color: var(--main-bg-color);
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/*ACTIVITIES*/
.activities {
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.activities .section-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.activities-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.activities-cards-container a {
    flex: 1 1 22%;
    max-width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px var(--filter-bg-color);
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 2%;
}

.activities-card {
    border-radius: 25px;
    max-width: 316px;
}

.activities-card article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}


.activities-card article img {
    width: 316px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}


.activities-card article h3 {
    margin: 0px;
    padding: 20px;
    font-size: 1rem;
    flex-grow: 1;
    /* Assure que le h3 prend tout l'espace vertical disponible */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*FOOTER*/
.main-footer {
    background-color: var(--main-bg-color);
    display: flex;
    padding: 25px;
    width: 100%;
}

.footer-column {
    width: 30%;
    flex-grow: 1;
    padding-left: 1%;
}

.footer-column ul {
    list-style-type: none;
    padding: 0px;
}

.footer-column ul li a {
    color: var(--black);
    text-decoration: none;
    line-height: 35px;
}


/* RESPONSIVE */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*1024 ACCOMODATION & POPULAR*/
    .filter-box {
        margin-right: 5px;
    }


    /*1024 ACCOMODATION*/
    .accomodation-and-popular {
        flex-direction: column;
    }

    .accomodation {
        width: 100%;
    }

    /*1024 POPULAR*/
    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 1rem;
    }

    .popular-cards .card-subtitle {
        font-size: 1rem;
    }

    /*1024 ACTIVITIES*/

    .activities-card article img {
        width: 316px;
        height: 220px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

    .main-footer {
        background-color: var(--main-bg-color);
        display: flex;
        padding: 25px;
        width: 100%;
    }

    /*1024 FOOTER*/

    .footer-column {
        width: 30%;
        padding-left: 0%;
    }

    .footer-column ul {
        list-style-type: none;
        padding: 0px;
    }

    .footer-column ul li a {
        color: var(--black);
        text-decoration: none;
    }



}

/*                 SMARTPHONE              */
/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-container {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /*768 MAIN HEADER*/
    /*768 MENU NAVBAR*/

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
        width: 100%;
        text-align: center;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding-top: 30px;
    }

    #logo {
        height: 55px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 10px 0px;
        margin: 0px;
    }

    .header-menu {
        width: 100%;
        display: flex;
        padding: 0px;
    }

    .header-menu nav {
        width: 100%;
        display: flex;
        align-items: flex-end;
    }

    .menu {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 5rem;
        padding: 0px;
        margin: 0px;
    }

    .menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 4px solid var(--main-bg-color);
        border-top: 0px;
    }

    .menu li :hover {
        border-color: var(--main-color);
    }

    .menu li a {
        text-align: center;
        padding: 0px;
        margin: 0px;
        font-size: 1.2rem;
        padding-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .lead {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .sub-lead {
        padding-top: 8px;
    }

    /*768 SEARCH BAR*/

    .search-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0px 35px 0px;
    }

    #map-icon {
        font-size: 1.4rem;
    }

    .search-bar p {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0px 0px 20px;
    }

    .search-box {
        display: flex;
        justify-content: center;
        padding: 10px 0px 0px 0px;
    }

    .search-box button {
        border-radius: 15px;
        margin: -10px;
        filter: drop-shadow(0px 4px 3px var(--filter-border-color));
    }

    .search-box-txt {
        display: none;
    }

    .search-box button .fa-solid {
        display: inline-flex;
        width: 20px;
        height: 20px;
    }

    /*768 FILTERS*/

    .filter-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        padding-bottom: 0px;
    }

    .filter-header {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .filter-box-container {
        width: 100%;
        margin: 0px 10px 0px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .filter-box {
        height: 50px;
        width: 165px;
        padding: 10px 10px 10px 15px;
        margin: 5px 10px 20px 0px;
        font-size: 1rem;
    }

    .filter-box i {
        padding-left: 3px;
        flex-wrap: nowrap;
        font-size: 1.2rem;
    }

    .filter-text {
        margin-left: 6px;
        margin-right: 0px;
        display: inline-flex;
        text-wrap: nowrap;
    }

    /*END OF 768 HEADER*/
    /*768 MAIN CONTENT*/

    #accomodation {
        order: 2;
    }

    #popular {
        order: 1;
    }

    /*768 INFO-BAR*/

    .info-bar-container {
        padding: 0px 20px 0px 20px;
    }

    .info-bar {
        padding-left: 12px;
    }

    /*768 accomodation-and-popular*/

    .accomodation-and-popular section {
        border-radius: 0px;
        padding: 30px 20px 30px 20px;
    }

    .popular {
        padding: 0px 0px 50px 0px;
        margin: 15px 0px 0px 0px;
        border-radius: 0px;
        width: 100%;
    }

    .popular-title {
        margin: 0px 0px 16px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .popular-cards {
        display: flex;
        flex-direction: column;
    }

    .popular-cards a {
        width: 100%;
    }

    .popular-cards .card {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .card-content {
        padding-top: 0px;
    }

    /*768 ACCOMODATION (HERBERGEMENTS)*/
    .accomodation {
        background-color: var(--white);
        padding: 0px 0px 0px 0px;
    }

    .accomodation-cards {
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .accomodation-cards .card {
        margin-top: 0px;
    }

    .accomodation-cards>a {
        width: 100%;
    }

    .accomodation-cards img {
        height: 115px;
    }

    /*768 ACTIVITIES (ACTIVITES)*/

    .activities {
        padding: 30px 0px 45px 0px;
    }

    .accomodation-and-popular .activities {
        padding: 0px 0px 0px 0px;
    }

    .activities .section-title {
        padding: 0px 0px 30px 10px;
    }

    .activities-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        width: 100%;
    }

    .activities-cards-container>a {
        margin-bottom: 17px;
    }

    .activities-card article img {
        width: 360px;
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;

    }

    /*768 FOOTER*/

    .main-footer {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
        padding-left: 0%;
        padding-bottom: 20px;
    }

    .footer-column>h2 {
        margin: 0px 0px 0px 0px;
    }

    .footer-column ul li a {
        line-height: 2rem;
    }

    /*END OF 768 RESOLUTION*/
}